services:
  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    mem_limit: 100m

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    env_file:
      - .env.prod
    environment:
      - RUN_MIGRATIONS=1
    depends_on:
      - db
    ports:
      - '127.0.0.1:7001:8000'
    volumes:
      - /srv/barbermanager/media:/app/media
    mem_limit: 100m

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    env_file:
      - .env.prod
    ports:
      - '127.0.0.1:3001:80'
    mem_limit: 50m

volumes:
  postgres_data:
