@use '@styles/variables.module.scss' as *;

.app {
  height: 100vh;

  display: flex;
  flex-direction: column;

  .content {
    overflow: hidden;

    flex-grow: 1;

    display: flex;
    flex-direction: row;

    .main {
      width: 100%;
      background: radial-gradient(circle at top, #f5eee5 0, #fdf7f0 45%, #ffffff 100%);

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
