@use '@styles/variables.module.scss' as *;

// Left Side
.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    color: $color-secondary;
    font-size: 2rem;
  }

  .features {
    list-style: none;
    height: 100%;
    font-size: 1.5rem;
    color: $color-muted;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.note {
  color: $color-secondary;
  font-size: 1.5rem;
}

// Right Side
.register {
  width: 47rem;

  .register-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .label {
      margin-bottom: 0.5rem;
      font-size: 2rem;
      text-align: center;
      color: $color-primary;
    }

    .subtitle {
      text-align: center;
      color: $color-muted;
      font-size: 1.4rem;
    }

    .button-group {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1rem;
    }

    .register-btn {
      margin-top: 0; // override if needed
    }

    .forgot-btn {
      padding: 0;
      align-self: center;
    }

    .line {
      display: flex;
      gap: 1rem;
    }
  }
}

@media (max-width: $bp-medium) {
  .register {
    width: 40rem;
  }
}

@media (max-width: $bp-medium-small) {
  .register {
    width: fit-content;

    .register-form {
      gap: 0.5rem;

      .button-group {
        gap: 1rem;
      }
    }
  }
}

@media (max-width: $bp-small) {
  .register {
    margin: 3rem;
  }
}
